body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.fclear-left {
    float: left;
    clear: left;
}

.fclear-right {
    float: right;
    clear: right;    
}

.hidden {
    display: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/************/
/** Header **/
/************/

h1 {
    padding: 0 10px;
}

nav {
    position: fixed;
    display: block;
    width: 100%;
    background-color: #555;
    color: #ddd;
    height: 60px;
    line-height: 50px;
    padding: 5px;
    box-sizing: border-box;
    vertical-align: middle;
    border-bottom: solid 3px #333;
}

nav li {
    cursor: pointer;
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav li:hover {
    background-color: #444;
}

nav .active,
nav .active:hover {
    background-color: #333;
}

input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
    
.language .btn {
    padding: 5px;
}
    
/************/
/** Guitar **/
/************/

table {
    bottom: 0px;
    position: fixed;
    width: 100%;
    table-layout: fixed;
}

td {
    text-align: center;
    position: relative;
    overflow: visible;
}

.row-string {
    height: 7px;
}

.row {
    height: 60px;
}

    .row.edge {
        height: 20px;
    }

.row-number {
    height: 30px;
    font-size: 20px;
}

    .row-number td {
        background: transparent;
    }

.neck {
    background: black;
    width: 30px;
}

.edge {
    background: #ddd;
    width: 20px;
}

.wood {
    background-color: #854D28;
    /*    width: 100px;*/
    background-image: url('../img/wood2.png');
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #BBBBBB;
    display: inline-block;
    border-radius: 5px;
}

.fret {
    background: #999;
    width: 10px;
}

.string {
}

.string-e .string,
.string-e .note {
    background: red;
    color: #111;
}

.string-a .string,
.string-a .note {
    background: yellow;
    color: #333;
}

.string-d .string,
.string-d .note {
    background: blue;
    color: #ddd;
}

.string-g .string,
.string-g .note {
    background: orange;
    color: #333;
}

.note {
    position: absolute;
    z-index: 10;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
    line-height: 28px;
    cursor: pointer;
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*************/
/** Section **/
/*************/

.section {
    margin-top: 80px;
}

    .section ul,
    .section h2 {
        padding: 0 10px;
    }
    
    .section li {
        padding: 3px 10px;
        cursor: pointer;
        word-wrap: normal;
    }

.section-scale {
    background-color: #E1FB3F;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #A6BA2E;
    box-sizing: padding-box;
    padding: 10px 0;
}

    .section-scale.hidden {
        left: -170px;
        position: absolute;
    }

        .section-scale li:hover {
            background-color: #A6BA2E;
        }

    .section-scale .active,
    .section-scale .active:hover {
        background-color: #8BA100;
    }

.section-input {
    background-color: pale-blue;
    height: 100px;
    width: 500px;
}

.section-songs {
    background-color: #50A162;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid #106322;
    box-sizing: padding-box;
    padding: 10px 0;
}

    .section-songs li:hover {
        background-color: #106322;
    }

    .section-songs .active,
    .section-songs .active:hover {
        background-color: #106322;
    }


.tab-seeker {
    width: 100%;
    height: 64px;
    font-family: Courier;
}

#book {
    background-color: #999;
    float: left;
    width: 609px; /* From ultimate guitar tabs */
    font-family: monospace;
}

#decoder {
    float: left;
    font-family: monospace;
    padding: 0 10px;
    box-sizing: border-box;
    width: 609px; /* From ultimate guitar tabs */
}

#decoder textarea {
    width: 100%;
    height: 150px;
    border: solid #854D28;
    border-radius: 10px;
    padding: 5px;
}